<div id="track_id" style="display:none;"><%= @track.id %></div>
<div class="track_container">
<div id="artwork"><img src="<%= @track.album.artwork_url %>" /></div>
<div id="artist_info">
	<p class="track"><a href="<%= @track.album.pf_url %>" target="_blank"><span class="highlight"><%= @track.name %></span> by <%= @track.artist.name %></a></p>
	<% if @track.album.id != 0 %>
		<p class="review"><a href="<%= @track.album.pf_url %>" target="_blank"><span class="highlight"><%= @track.album.pf_score %></span> Rating</a></p>
	<% end %>
</div>
<ul id="myplayer" class="playlist dark">
	<li class="mytrack">
		<a class="player_link" href="<%= @track.mp3_url %>">&nbsp;</a>
	</li>
</ul>
<script>pagePlayer.init()</script>
 <div id="spectrum-container" class="spectrum-container"> 
  <div class="spectrum-box"> 
   <div class="spectrum"></div> 
  </div> 
 </div>
</div>
<script>$('page_title').update("<%= @track.name %></span> by <%= @track.artist.name %> | Pitchforked");</script>